$border-color:#ededed;
$mainBG:#f4f5f9;

$primary: #e6e6e6;
$info:#532e1c;
$success: #0e918c;
$warning: #f6830f;
$error: #bb2205;
$gray:#999999;
$white:#ffffff;
$blue:#3388ff;
$dark:#000;
$darkMain: #111A19;
$darkSecond: #333333;
$darkThird: #666666;
$darkLight: #666666;
$grayB1:#B1B1B1;
$grayB4:#ffffff60;
$dark1D:#1D1D1D;
$yellow:#F3A21F;
$green21:#21B505;
$redDE:#de4949;
$gray33:#333333;
$grayDA:#DADADA;
$dark21:#212121;
$titleBarBG:#ffffff;
$grayE8:#e8e8e8;
$yellowFF:#ffca64;