
              .w81 {
                width: 81px
              }
              .h35 {
                height: 35px
              }
              .lh20 {
                line-height: 20px
              }
              .fs16 {
                font-size: 16px
              }
              .w188 {
                width: 188px
              }
              .h66 {
                height: 66px
              }
              .mt44 {
                margin-top: 44px
              }
              .bdr8 {
                border-radius: 8px
              }
              .w20 {
                width: 20px
              }
              .h22 {
                height: 22px
              }
              .m20 {
                margin: 20px
              }