
          .w100 {
            width: 100px
          }
          .h150 {
            height: 150px
          }
          .w81 {
            width: 81px
          }
          .h35 {
            height: 35px
          }
          .lh30 {
            line-height: 30px
          }
          .fs16 {
            font-size: 16px
          }
          .bdr10 {
            border-radius: 10px
          }
          .ml20 {
            margin-left: 20px
          }
          .pl20 {
            padding-left: 20px
          }
          .op130 {
            opacity: 130%
          }
          .vw20 {
            width: 20vw
          }
          .h180 {
            height: 180px
          }
          .mt44 {
            margin-top: 44px
          }
          .bdr8 {
            border-radius: 8px
          }
          .pw20 {
            width: 20%
          }
          .h22 {
            height: 22px
          }
          .m20 {
            margin: 20px
          }
          .vw30 {
            width: 30vw
          }