:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}   
              .w81 {
                width: 81px
              }
              .h35 {
                height: 35px
              }
              .lh20 {
                line-height: 20px
              }
              .w188 {
                width: 188px
              }
              .h66 {
                height: 66px
              } 
              .w81 {
                width: 81px
              }
              .w188 {
                width: 188px
              }
              .w20 {
                width: 20px
              }
              .h22 {
                height: 22px
              } 
              .w81 {
                width: 81px
              }
              .w188 {
                width: 188px
              }
              .w20 {
                width: 20px
              }  
              .w81 {
                width: 81px
              }
              .w188 {
                width: 188px
              }
              .w20 {
                width: 20px
              }  
              .w81 {
                width: 81px
              }
              .w188 {
                width: 188px
              }
              .w20 {
                width: 20px
              }  
              .w81 {
                width: 81px
              }
              .w188 {
                width: 188px
              }
              .w20 {
                width: 20px
              }